@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Protest+Revolution&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #111;
  --light: #fafafa;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --orange: #ff4500;
  --oran-lg: #ff8c00;
  --oran-dk: #fbb127;
  --sky-lg: #87ceeb;
  --sky-dk: #38b5e7;
  --teal: #008080;
}

body {
  font-weight: 300;
}

.main-font {
  font-family: 'League Spartan', sans-serif;
}

.logo {
  font-family: 'Protest Revolution', cursive;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
}

