@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff4500;
  --secondary: #008080;
  --dark: #111;
  --light: #fffaf0;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --sky-lg: #87ceeb;
  --sky-dk: #38b5e7;
  --teal: #008080;
}

.logo {
  font-family: 'Protest Revolution', cursive;
  color: var(--orange);
}


